.contest-info-container {
  padding: 0px;
}

.contest-info-top {
  background-color: #dfdfdf;
  padding: 10px;
  border-bottom: solid 3px #03277a;
}

.contest-info-title {
  text-align: center;
}

.contest-info-info {
  padding: 10px 20px;
  font-size: 1rem;
}
