.contest-card {
  background-color: white;
  width: 60vw;
  /* border-radius: 5px; */
  margin: 20px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border: 2px dashed #03277a; */
  padding-bottom: 20px;
}

.main-contest {
  width: 90vw;
}

.contest-card-top {
  /* background-color: #03277a; */
  color: white;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}

.contest-card-title {
  font-size: 3.5rem;
  font-weight: 600;
  font-style: italic; /* Added property */
  color: #ffffff;
  background-color: #03277a;
  padding: 15px 0 25px 0;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  text-align: center;
}

.contest-card-desc {
  font-size: 2.2rem;
  color: black;
}

@media (max-width: 420px) {
  .contest-card-title {
    font-size: 2.5rem;
  }
  .contest-card-desc {
    font-size: 1.5rem;
  }
  .main-contest {
    width: 100%;
  }
}

.contest-info {
  color: black;
  font-size: 1.3rem;
}

.contest-info > ul {
  padding: 5px 20px;
}

.contest-card-mid {
  width: 100%;
  height: 300px;
}

.contest-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contest-card-bottom {
  /* border: #03277a 2px solid; */
  /* border-radius: 0 0 5px 5px; */
  display: flex;
  justify-content: center;
}

.contest-card-button {
  background-color: #03277a;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-info-button {
  background-color: rgb(220, 220, 220);
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.upcoming-contest {
  pointer-events: none;
}

.upcoming-contest-overlay {
  position: absolute;
  background-color: rgba(204, 204, 204, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
}

.coming-soon-ribbon {
  position: absolute;
  top: 35px;
  right: -50px;
  background-color: #03277a;
  color: white;
  padding: 5px 50px;
  transform: rotate(45deg);
}

.leaderboard-arrow {
  margin-left: 10px;
}

.must-be-signed-in-button {
  font-size: 1rem;
}
