.box {
  background-color: #aba7b0;
  border-radius: 5px;
  height: 79vh;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.draft-screen {
  display: flex;
  flex-direction: column;
}
