/* Styles/DraftSettings.css */

.draft-settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
}

.draft-settings-container a {
  text-decoration: none;
  margin-bottom: 10px;
}

.draft-settings-btn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #03277a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.draft-settings-container button:hover {
  background-color: #303f9f;
}

.draft-settings-container button:active {
  background-color: #283593;
}
