.enter-contest-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.enter-contest-content > * {
  margin: 10px 0;
}

.med-blue-btn {
  background-color: #03277a;
  color: white;
  padding: 10px 20px;
}
