.header {
  background-color: #03277a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

.header > h1 {
  z-index: 100;
}

.header > h1:hover {
  opacity: 70%;
  cursor: pointer;
}
