.header {
  background-color: #03277a;
  color: white;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.desktop-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.mobile-tablet-header {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.header-title {
  z-index: 100;
  text-align: center;
  font-style: italic;
}

.header-title-desktop {
  margin-left: 50px;
  margin-right: 20px;
}

.header-title:hover {
  opacity: 70%;
  cursor: pointer;
}

.profile-icon {
  position: absolute;
  top: 25%;
  right: 10px;
  height: 25px;
  width: 25px;
}

.profile-icon:hover {
  cursor: pointer;
}

.profile-icon-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-right: 1px solid white;
  padding: 0 10px;
}

.nav-link:last-child {
  border: none;
}

.nav-link:hover {
  opacity: 70%;
  cursor: pointer;
}

.hamburger-container {
  position: absolute;
  right: 10px;
  display: flex;
}
