.mock-draft-image {
  position: absolute;
  top: -10000px;
  left: -10000px;
  background-color: rgb(224, 224, 224);
}

@font-face {
  font-family: "Black Ops One";
  src: url("../Assets/fonts/BlackOpsOne-Regular.ttf");
}

.mock-image-top,
.mock-image-bottom {
  background-color: #03277a;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mock-image-top {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.mock-draft-image-title {
  font-family: "Black Ops One";
  font-weight: lighter;
}

.mock-draft-image-icon-container {
  height: 100%;
}

.mock-draft-image-icon {
  height: 100%;
}

.mock-image-bottom {
  font-size: 15px;
  height: 40px;
  text-align: center;
}

.mock-draft-image-link {
  text-decoration: underline;
  margin-left: 5px;
}

.mock-draft-image-container {
  display: grid;
  grid-template-rows: repeat(16, 40px);
  grid-auto-flow: column;
  grid-gap: 4px;
  padding: 4px;
}

.mock-draft-image-slot {
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  background-color: white;
}

.mock-draft-image-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  object-fit: contain;
  margin-right: 5px;
}

.mock-draft-image-logo {
  width: 25px;
}

.mock-draft-image-team {
  margin-right: 0.5rem;
}

.mock-draft-image-pick,
.mock-draft-image-player {
  font-size: 1rem;
}

.mock-draft-image-pick {
  margin-right: 0.5rem;
}
