.player-card {
  cursor: pointer;
}

.playerInfo {
  display: flex;
  align-items: center;
}

.img-container {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

.player-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.plus-icon {
  margin-right: 5px;
  margin-left: 15px;
}

.unexpanded {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.expanded {
  display: flex;
  align-items: center;
}

.exp-player-info {
  display: flex;
  letter-spacing: 0.8px;
}

.class-year {
  margin-bottom: 5px;
}

.player-skills {
  margin-left: 20px;
}

.player-skills > h4 {
  text-decoration-line: underline;
  color: gray;
}

.exp-player-name {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.exp-player-name > h3 {
  margin-right: 15px;
}

.player-card-btns {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.unexp-player-name {
  display: flex;
  align-items: center;
}

.unexp-player-name > h3 {
  margin-right: 5px;
}

.name-star {
  display: flex;
  align-items: center;
}

.name-star > h2 {
  margin-left: 5px;
}

.star-player-stuff {
  display: flex;
  align-items: center;
}

.star-player-stuff > div {
  margin-left: 5px;
}
