.playerContainer {
  width: 100%;
  height: 92.5%;
  overflow-y: scroll;
}

.position-select {
  cursor: pointer;
}

.watchlist-toggle {
  display: flex;
  align-items: center;
}

.watchlist-toggle > *:first-child {
  margin-right: 5px;
}

.no-players-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #5d5d5d;
}
