.playerContainer {
  width: 400px;
  /* height: 79vh; */
  height: 92.5%;
  overflow-y: scroll;
}

.position-select {
  cursor: pointer;
}

.watchlist-toggle {
  display: flex;
  align-items: center;
}

.watchlist-toggle > *:first-child {
  margin-right: 5px;
}
