/* .new-saved-drafts-screen {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.saved-drafts-container {
  width: 50%;
  max-width: 400px;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-drafts-container > h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.saved-drafts-container > hr {
  border: 1px solid;
  width: 100%;
  margin-bottom: 1rem;
} */

.inner-modal-saved-drafts {
  height: 70vh;
}

.saved-draft-elements {
  /* height: 60vh; */
  overflow-y: auto;
}

.saved-draft-card {
  padding: 0.2rem;
  margin: 1rem;
  border-radius: 5px;
}

.saved-draft-card:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.saved-drafts-content {
  overflow-y: scroll;
  height: 55vh;
}

.idk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
