.save-screen {
  padding: 20px;
}

.save-text {
  margin-top: 5%;
}

.save-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.save-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-login-div > * {
  margin-top: 20px;
}

.save-and-enter-btn {
  margin-top: 10px;
  background-color: #03277a;
  color: white;
  padding: 10px;
}

.edit-reminder {
  font-size: 0.5rem;
  margin-top: 10px;
}

.must-be-logged-in-to-save {
  margin-bottom: -50px;
}
