.saved-draft-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.saved-drafts-top {
  border-bottom: 2px solid #929292;
  padding: 10px 15px;
  width: 90%;
  display: flex;
  justify-content: center;
}

.saved-draft-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.saved-draft-card {
  border-bottom: 1px solid #b3b3b3;
  padding: 0.4rem;
  margin: 0.4rem;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.saved-draft-card:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.no-saved-drafts-message {
  margin: 40px 0;
}

.contest-indicator {
  color: blue;
}
