.saved-draft-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  min-width: 350px;
  height: 95vh;
  background-color: white;
  border-right: #03277a 2px solid;
  border-left: #03277a 2px solid;
}

.saved-drafts-top {
  border-bottom: 2px solid #03277a;
  padding: 10px 0px;
  width: 50vw;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.saved-drafts-title {
  font-size: 1.8rem;
}

.saved-draft-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  /* max-height: 70vh; */
}

.saved-draft-card {
  border-bottom: 1px solid #b3b3b3;
  /* padding-top: 0.6rem; */
  /* padding-bottom: 0.4rem; */
  /* margin: 0.4rem; */
  padding: 5px 15px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: column;
}

.saved-draft-card:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.no-saved-drafts-message {
  margin: 40px 0;
}

.contest-indicator {
  color: blue;
  font-size: 1rem;
}

.saved-draft-name {
  font-size: 1.4rem;
}

.saved-draft-date {
  font-size: 1rem;
}

.saved-drafts-league-selector {
  display: flex;
  width: 70%;
  height: 30px;
  margin-top: 5px;
}

.league-selector-button {
  width: 100%;
  transition: 0.2s;
  background-color: #e0e0e0;
}

.saved-drafts-selected {
  background-color: #03277a;
  color: white;
  box-shadow: 0 0 2px #03277a;
}

.not-signed-in-message {
  font-size: 1.5rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in-btn-saved-drafts-page {
  text-decoration: underline;
  color: #03277a;
}

.sign-in-btn-saved-drafts-page:hover {
  cursor: pointer;
}

.no-saved-drafts-message-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
