.teamContainer {
  width: 35vw;
  /* min-width: 100%; */
  min-width: 400px;
  height: 79vh;
  overflow-y: scroll;
  /* display: grid;
  grid-template-rows: repeat(16, 20px);
  grid-auto-flow: column; */
}

.stop-btn {
  background-color: rgb(255, 0, 0);
  color: white;
}
