/* .team-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.team-card-info {
  display: flex;
  align-items: center;
}

.pick-position {
  margin-right: 5px;
}

.team-logo {
  height: 20px;
  margin-right: 5px;
}

.drafted-player-info {
  display: flex;
  align-items: center;
}

.drafted-player-name {
  margin-right: 10px;
}

.user-team-card {
  border: 2px solid #03277a;
}
