.trade-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.trade-team-container {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick-div {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pick-div:hover {
  background-color: #e6e6e6;
  cursor: pointer;
  color: black;
}

.pick-div-selected {
  background-color: #1a1c86;
  color: white;
}
