.outer-modal-view-draft {
  background-color: transparent;
}

.inner-modal-view-draft {
  height: 400px;
  width: 400px;
}

.modal-content-view-draft {
  height: 87%;
  overflow-y: scroll;
}

.draft-element {
  margin: 10px;
  display: flex;
  width: 50%;
  align-items: center;
}

.draft-element > *:nth-child(2) {
  margin-right: 10px;
}

.view-draft-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-draft-top {
  display: flex;
  align-items: center;
}

.view-draft-btns {
  margin-left: 10px;
}

.view-draft-btns > :nth-child(2) {
  margin-left: 0.5rem;
}
