* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background-color: #bdb8c4;
}

.light {
  color: gray;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.header {
  background-color: #03277a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

.playerContainer {
  width: 30vw;
  height: 78vh;
  overflow-y: scroll;
}

.card {
  background-color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.playerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playerInfo {
  display: flex;
  align-items: center;
}

.img-container {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

.player-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0% 0% 50% 50%;
}

.plus-icon {
  margin-right: 5px;
  margin-left: 15px;
}

.icon:hover,
li:hover {
  opacity: 70%;
  cursor: pointer;
}

.header-icon {
  z-index: 1;
}

.teamContainer {
  width: 56vw;
  height: 78vh;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: repeat(16, auto);
  grid-auto-flow: column;
}

.team-card {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-card-info {
  display: flex;
  align-items: center;
}

.pick-position {
  margin-right: 5px;
}

.team-logo {
  height: 20px;
  margin-right: 5px;
}

.box {
  background-color: #aba7b0;
  border-radius: 5px;
  height: 85vh;
}

.top-bar {
  height: 2vh;
  padding: 10px;
  background-color: #03277a;
  color: white;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.position-select {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.2em;
  border-radius: 2px;
}

button:hover {
  opacity: 90%;
}

.save-btn {
  background-color: rgb(52, 196, 52);
  color: white;
}

.desc {
  display: flex;
  color: #03277a;
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.saved-drafts-screen {
  height: 50vh;
  width: 50vw;
  background-color: white;
  position: absolute;
  right: 25%;
  top: 25%;
}

.outer-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.inner-modal {
  background-color: white;
  border-radius: 5px;
  height: 50vh;
  width: 50vw;
  z-index: 2;
}

.inner-modal-saved-drafts {
  height: 70vh;
}

.inner-modal-display-draft {
  height: 70vh;
  width: 70vw;
}

.unexpanded {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expanded {
  display: flex;
  align-items: center;
}

.exp-player-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.exp-player-name > h2 {
  margin-left: 10px;
  margin-right: 10px;
}

.modal-bar {
  justify-content: right;
}

.display-draft-bar {
  justify-content: left;
}

.modal-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-drafts-content {
  height: 85%;
  overflow-y: scroll;
}

.display-draft-content {
  height: 85%;
  overflow-y: scroll;
}

.saved-draft-card {
  background-color: #aba7b0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 200px;
}

.saved-draft-card:hover {
  opacity: 90%;
  cursor: pointer;
}

.save-text {
  margin-top: 10%;
}

.save-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.save-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whole-screen {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.side-menu {
  position: fixed;
  right: 0;
  background-color: #03277a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  height: 100vh;
  width: 20vw;
}

.side-menu > ul {
  list-style-type: none;
  margin-top: 20%;
}

.side-menu > ul > li {
  font-size: 1.2rem;
}

.draft-pick-cards {
  display: grid;
  grid-template-rows: repeat(16, auto);
  grid-auto-flow: column;
}

.draft-pick-card {
  background-color: #aba7b0;
  width: 15vw;
}
